body {
  background-color: #849d8f;
	color: #323232;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.375em;
  margin: 0;
  padding: 0;
}
h1, h2 {
	color: #ffffff;
}
h1 {
	font-family: "Roboto", sans-serif;
	font-size: 60px;
	font-weight: normal;
	line-height: 1em;
}
h2, h3 {
	font-family: "Roboto", sans-serif;
	font-weight: normal;
}
h2 {
  font-size: 35px;
  line-height: 1.17em;
  margin: 0;
}
h3 {
  font-size: 24px;
  line-height: 1.2em;
	color: #323232;
}

.main-navigation-submenu,
.search-form,
.login-form,
.feedback-form,
.cart-form {
  display: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  min-width: 900px;
  max-width: 1200px;
  width: 1146px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
  outline: 1px solid black;
}
.index-logo {
  width: 170px;
  float: left;
  margin-right: 27px;
  padding-top: 10px;
}
.main-navigation {
  width: 678px;
  float: left;
}
.user-block {
  float: right;
  width: 267px;
  padding-top: 22px;
  text-align: right;
}
.header-contacts {
  width: 290px;
  float: right;
  margin-bottom: 10px;
  text-align: right;
}
.slider {
  text-align: center;
  margin-bottom: 40px;
}
.slider h1 {
  padding-top: 265px;
  padding-bottom: 36px;
}
.slider-controls {
  float: left;
  width: 80px;
}
.btn-get {
  margin-left: -80px;
}
.banners {
  margin-bottom: 40px;
}
.banner {
  float: left;
  width: 520px;
  padding: 16px 20px;
  outline: 1px solid black;
}
.banner:nth-child(2n+1) {
  margin-right: 25px;
}
.btn-buy {
  display: block;
  text-align: right;
}
.hits {
  margin-bottom: 40px;
  font-size: 0;
}
.hit-item {
  display: inline-block;
  width: 267px;
  margin-bottom: 25px;
  vertical-align: top;
  text-align: center;
  font-size: 16px;
}
.hit-item:not(:nth-child(4n)) {
  margin-right: 25px;
}
.hit-price {
  text-align: left;
}
.advertise {
  outline: 1px solid black;
  padding: 25px 20px;
  margin-bottom: 40px;
}
.advertise-content {
  float: left;
  width: 540px;
}
.advertise-content:nth-child(2n) {
   margin-right: 25px;
}
.contacts {
  outline: 1px solid black;
  float: right;
  width: 300px;
  margin-bottom: 60px;
}
.banner-blog p,
.banner-blog h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.banner-blog {
  padding-top: 25px;
  padding-bottom: 87px;
}
.banner-blog p {
  padding-bottom: 12px;
}
.banner-mail {
  width: 510px;
  padding-top: 30px;
  padding-bottom: 34px;
  border: 5px solid red;
}
.banner-mail p {
  margin-top: 0;
  margin-bottom: 38px;
}
.contacts {
  width: 240px;
  padding: 30px;
  
}
.main-footer {
  outline: 1px solid black;
}
.footer-content {
  float: left;
  padding-top: 35px;
  padding-bottom: 35px;
}
.footer-content:not(:nth-child(3n)){
  margin-right: 25px;
}
.footer-social {
  width: 267px;
}
.footer-info {
  width: 560px;
}
.footer-copyright {
  width: 267px;
}
.breadcrumbs {
  float: left;
  width: 290px;
}
.goods {
  font-size: 0;
}
.good-item {
  display: inline-block;
  width: 267px;
  margin-right: 25px;
  margin-bottom: 25px;
  vertical-align: top;
  text-align: center;
  font-size: 14px;
}
.good-item:nth-child(4n) {
  margin-right: 0;
}
.good-price {
  text-align: left;
}
.good-description {
  text-align: center;
}
.pagination {
  outline: 1px solid black;
  float: right;
  width: 190px;
  margin-bottom: 30px;
}