body {
  margin: 0;
  padding: 0;
  min-width: 900px;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.375em;
  background-color: #849d8f;
  color: #323232;
}
h1, h2 {
	color: #ffffff;
}
h1 {
	font-size: 60px;
  font-weight: 700;
	line-height: 1em;
}
h2, h3 {
  font-weight: 700;
}
h2 {
  font-size: 35px;
  line-height: 1.17em;
  margin: 0;
}
h3 {
  font-size: 24px;
  line-height: 1.2em;
	color: #323232;
}
.main-navigation-submenu,
.search-form,
.login-form,
.feedback-form,
.cart-form {
  display: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  min-width: 900px;
  max-width: 1200px;
  width: 1146px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
  outline: 1px solid black;
}
.main-header {
  position: relative;
  z-index: 10
}
.index-logo {
  width: 170px;
  float: left;
  margin-left: -5px;
  padding-top: 10px;
}
.main-navigation {
  width: 658px;
  float: left;
  margin-top: 5px;
}
.main-navigation-ul {
  margin-top: 2px;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation-li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: -2px;
  padding-bottom: 5px;
  line-height: 1.25em;
  font-size: 16px;
  font-weight: 700;
}
.main-navigation-li-a {
  display: block;
  padding: 20px 15px;
  color: #ffffff;
  text-decoration: none;
}
.main-navigation-li-a > span {
   border-bottom: 1px solid #adbdb4;
}
.main-navigation-li:hover span {
  border-bottom: none;
}
.main-navigation-inactive,
.main-navigation-li:hover > a {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px 15px;
  border-radius: 20px; 
}
.main-navigation-inactive {
  margin-right: 2px;
  background-color: #d07058;
}
.main-navigation-li:hover > a {
  background-color: #fff;
  color: #333333;
}
.main-navigation-li>a:active {
    box-shadow: inset 0 2px 1px #696969;
}
.main-navigation-submenu {
  position: absolute;
  z-index: 20;
  top: 52px;
  left: -6px;
  width: 144px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0,0,0,.4);
}
.main-navigation-submenu-li {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 14px;
}
.main-navigation-submenu-li:not(:first-child) {
  font-weight: 400;
}
.main-navigation-submenu-li a {
  display: block;
  margin: 0;
  padding: 10px 20px;
  color: #343434;
  text-decoration: none;
}
.main-navigation-submenu-li a:hover {
  background-color: #fbded8;
}
.main-navigation-submenu-li a:active {
  background-color: #f6b5a5;
}
.submenu-first-item:hover > a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.submenu-last-item:hover > a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.submenu-first-item {
  position: relative;
  font-weight: 900;
}
.submenu-first-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  height: 1px;
  background-color: #d1d0ce;
}
.main-navigation-li:hover .main-navigation-submenu {
    display: block;
}
.user-block {
  position: relative;
  float: right;
  width: 287px;
  margin-right: -25px;
  padding-top: 22px;
}
.btn {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;
}
.btn-user-menu {
  position: relative;
  font-weight: 500;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
.btn-user-menu:hover {
  color: #323232;
  background-color: #f8f7f4;
}
.btn-user-menu::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}
.btn-search::before {
  width: 16px;
  height: 16px;
  background-position: -228px -76px;
}
.btn-search {
  padding: 16px;
  border-radius: 30px;
}
.btn-user-menu:hover.btn-search::before {
  background-position: -228px -103px;
}

.btn-login::before {
  left: 28%;
  width: 21px;
  height: 19px;
  background-position: -63px -94px;
}
.btn-login,
.btn-cart-empty,
.btn-cart-full{
  font-size: 14px;
  border-radius: 20px;
}
.btn-login {
  margin-left: 10px;
  padding: 6px 15px 6px 46px;
}
.btn-user-menu:hover.btn-login::before {
  background-position: -94px -94px;
}
.btn-cart-empty::before {
  left: 25%;
  width: 21px;
  height: 20px;
  background-position: -63px -64px;
}
.btn-cart-empty {
  margin-left: 4px;
  padding: 6px 35px 6px 45px;
}
.btn-user-menu:hover.btn-cart-empty::before {
  background-position: -94px -64px;
}
.btn-cart-full::before {
  left: 25%;
  width: 21px;
  height: 20px;
  background-position: -63px -64px; /*rewrite by actual coords*/
}
.btn-cart-full {
  padding: 6px 16px 6px 45px;
}
.btn-user-menu:hover.btn-cart-full::before {
  background-position: -94px -64px; /*rewrite by actual coords*/
}
.search-form {
  position: absolute;
  top: 100%;
  right: 88%;
  width: 308px;
  margin: 0;
  padding: 20px 16px;
  border-radius: 6px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0,0,0,.4);
}
.field-wrapper {
 position: relative;
 top: 0;
 left: 0;
}
.moving-label {
  position: absolute;
  z-index: 10;
  line-height: 1.71em;
  font-size: 14px;
  color: #999999;
  transition: all 0.5s;
}
.search-form .moving-label,
.login-form .moving-label,
.feedback-form .moving-label {
  left: 4%;
  top: 25%;
  line-height: 1.5em;
  font-size: 16px;
}
.feedback-form label[for="feedback-comment-id"] {
  top: 6%;
}
.search-field,
.email-field,
.password-field,
.feedback-author-field,
.feedback-email-field,
.feedback-comment {
  box-sizing: border-box;
  position: relative;
  z-index: 5;
  width: 100%;
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  font-weight: 700;
  font-size: 16px; 
}
.search-field ,
.email-field,
.password-field {
  line-height: 1.71em;
}
.feedback-author-field,
.feedback-email-field,
.feedback-comment {
  display: block;
  margin-bottom: 24px;
  line-height: 1.5;
}
.feedback-author-field,
.feedback-email-field {
   width: 267px;
}
.feedback-comment {
  width: 100%;
  height: 155px;
  resize: none;
}
.feedback-author-field:focus +.moving-label,
.feedback-email-field:focus +.moving-label,
.feedback-comment:focus +.moving-label,
.search-field:focus + .moving-label,
.email-field:focus + .moving-label,
.password-field:focus + .moving-label{
  line-height: 1.18em;
  font-size: 11px;
  color: #5b9ddf;
}
.search-field:focus + .moving-label,
.feedback-author-field:focus + .moving-label,
.feedback-email-field:focus + .moving-label {
   top: -35%;
}
.email-field:focus + .moving-label,
.password-field:focus + .moving-label,
.feedback-comment:focus + .moving-label  {
  top: -25%;
}
.feedback-comment:focus + .moving-label {
  top: -10%;
} 
.search-field:hover,
.email-field:hover,
.password-field:hover,
.feedback-author-field:hover,
.feedback-email-field:hover,
.feedback-comment:hover {
  border: 1px solid #c7c6c5;
  box-shadow: inset 0 0 0 1px #c7c6c5;
}
.login-form {
  position: absolute;
  top: 105%;
  right: 52%;
  width: 237px;
  margin: 0;
  padding: 20px;
  border-radius: 5px;
  background: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0,0,0,.4);
}
.login-form span {
  border-bottom: 1px solid #adacaa;
}
.login-form .moving-label {
  left: 6%;
  top: 15%;
}
.email-field,
.password-field {
  margin-bottom: 20px;
}
.btn-enter,
.login-a {
  float: left;
}
.btn-enter {
  margin-right: 16px;
  padding: 13px 25px;
  line-height: 1.33em;
  border-radius: 30px;
  border: none;
  font-weight: 700;
  font-size: 18px;
}
.login-a { 
  line-height: 1.85em;
  font-size: 13px;
  color: #323232;
  text-align: left;
  text-decoration: none;
}
.login-a:hover,
.login-a:active{
  color: #e84d37;
}
.login-a:hover span,
.login-a:active span {
  border-bottom: 1px solid #f9cdc4;
}
.feedback-form {
  position: absolute;
  z-index: 25; 
  top: 340px;
  left: 50%;
  width: 430px;
  margin-left: -240px;
  padding: 15px 25px;
  border-radius: 8px;
  background-color: #f8f7f4;
}
.feedback-form h2 {
  margin-bottom: 20px;
  line-height: 1.17em;
  font-weight: 500;
  font-size: 24px;
  color: #323232;
}
.btn-feedback-submit {
  display: block;
  float: right;
  margin-bottom: 13px;
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
}
.modal-content-close,
.modal-item-delete {
  position: absolute;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.modal-content-close {
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
}
.modal-item-delete {
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
}  
.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 20px;
  left: -12px;
  width: 22px;
  height: 3px;
  background-color: #515050;
  border-radius: 3px;
}
.modal-item-delete::before,
.modal-item-delete::after{
  content: "";
  position: absolute;
  top: 17px;
  left: 0;
  width: 12px;
  height: 1px;
  background-color: #3e3e3e;
  border-radius: 2px;
}  
.modal-content-close::before,
.modal-item-delete::before {
  transform: rotate(45deg);
}
.modal-content-close::after,
.modal-item-delete::after {
  transform: rotate(-45deg);
}
.cart-form {
  position: absolute;
  top: 104%;
  right: 8%;
  width: 510px;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 6px;
}
.cart-item {
  position: relative;
  margin-bottom: 15px;
  line-height: 1.23em;
  font-size: 13px;
  font-weight: 400;
}
.cart-item:last-of-type {
  padding-bottom: 18px;
  border-bottom: 1px solid #cacac7;
}
.cart-item img {
  padding-left: 25px;
  padding-right: 10px;
}
.cell {
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
}
.cart-item-name {
  width: 230px;
}
.cart-item-quantity {
  padding-left: 12px;
}
.cart-item-sum {
  padding-left: 27px;
}
.cart-item-price {
  color: #999999;
}
.cart-total,
.btn-buy-cart {
  display: block;
} 
.cart-total { 
  margin-bottom: 11px;
  line-height: 1.2em;
  font-size: 15px;
  font-weight: 700;
  text-align: right;
}
.btn-buy-cart {
  float: right;
  margin-right: 3px;
  padding: 15px 17px;
  border: none;
  border-radius: 20px;
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.header-contacts {
  position: absolute;
  width: 290px;
  top: -8px;
  right: 2%;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}
.header-contacts span {
  display: block; 
}
.header-contacts-time {
  line-height: 1.09em;
}
.header-contacts-phone {
  line-height: 1.55em;
  font-size: 22px;
}
.slider-outer {
  text-align: center;
  margin-bottom: 40px;
}
.slider-controls input[type="radio"] {
  display: none;
}
.slider-controls label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label:not(:last-child){
  margin-right: 4px;
}
#slider-radio-btn1:checked ~ label[for="slider-radio-btn1"],
#slider-radio-btn2:checked ~ label[for="slider-radio-btn2"],
#slider-radio-btn3:checked ~ label[for="slider-radio-btn3"] {
  background: #ffffff;
}
label[for="slider-radio-btn1"]:hover,
label[for="slider-radio-btn2"]:hover,
label[for="slider-radio-btn3"]:hover {
  background: rgba(255, 255, 255, 0.4);
}
main .container:first-child {
  position: relative;
}
main .container:nth-child(2) {
  position: relative;
  z-index: 2;
  margin-top: -40px;
}
.slider-outer {
  background: url("../img/icecream-slider1.png") 50% 50% no-repeat;
}
.slider-outer h1 {
  padding: 350px 230px 0 230px;
}
.slider-controls {
  position: relative;
  bottom: -25px;
  float: left;
  width: 94px;
}
.btn-main {
  display: inline-block;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 0 2px 5px 0 rgba(160,32,11, 0.76);
  box-shadow: 0 2px 2px 0 rgba(160,32,11, 0.76);
  background: #f16542;
  background: linear-gradient(to bottom, #f26843,#e74b36);
}
.btn-main:hover {
  box-shadow: 0 2px 2px 0 rgba(172,16,0);
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
}
.btn-main:active {
  text-shadow: 0 2px 5px 0 rgba(160,32,11, 0.76);
  box-shadow: inset 0 2px 2px 0 #942718;
  background: linear-gradient(to bottom, #d84732, #e1613e);
}
.btn-get {
  vertical-align: top;
  margin-left: -94px;
  padding: 15px 40px;
  line-height: 44px;
  border-radius: 37px;
  line-height: 1.375em;
  font-weight: 700;
  font-size: 32px;
}
.banners {
  margin-bottom: 40px;
}
.banner {
  float: left;
  width: 520px;
  padding: 16px 20px;
  border-radius: 12px;
  outline: 1px solid black;
}
.banner:nth-child(2n+1) {
  margin-right: 25px;
}
.banner-content {
  margin-bottom: 45px;
  padding-left: 1px;
  font-size: 18px;
  color: #ffffff;
}
.banner-raspberry {
  background: url("../img/raspberry-bg1.png");
}
.banner-chokolate {
  background: url("../img/chokolate-bg1.png");
}
.btn-buy {
  display: block;
  float: right;
  padding: 13px 22px;
  font-size: 18px;
  text-align: center;
  border-radius: 26px;
}
.hits {
  margin-bottom: 40px;
  font-size: 0;
}
.hit-item::before {
  content: "";
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background: url("../img/spritesheet.png");
  background-position: -186px -5px;
}
.hit-item {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 267px;
  vertical-align: top;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}
.hit-item:not(:nth-child(4n)) {
  margin-right: 25px;
}
.hit-item:nth-child(3) .hit-description {
  padding-left: 2px;
}
.hit-price {
  position: absolute;
  z-index: 10;
  top: 212px;
  line-height: 1em;
  text-align: left;
  font-weight: 700;
  font-size: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}
.weight {
  font-size: 30px;
}
.hit-description {
  margin-top: 10px;
  margin-bottom: 0;
}
.advertise {
  outline: 1px solid black;
  padding: 25px 20px;
  margin-bottom: 40px;
  background: url("../img/waffle-bg.jpg");
  border-radius: 12px;
  color: #323232;
}
.advertise-title {
  line-height: 1.25em;
  font-size: 24px;
  font-weight: 500;
  color: #323232;
}
.advertise-content {
  float: left;
  width: 540px;
  font-weight: 400;
}
.advertise-content:nth-child(2n) {
   margin-right: 25px;
}
.advertise-block::before {
  position: absolute;
  top: -10px;
  left: -55px;
  width: 49px;
  height: 49px;
  content: "";
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}
.advertise-block {
  position: relative;
  left: 55px;
  top: -9px;
  margin-top: 25px;
  margin-bottom: 0;
  padding-right: 60px;
}
.adv-block1::before {
  background-position: -64px -5px;
}
.adv-block2::before {
  background-position: -123px -5px;
}
.adv-block3::before {
  background-position: -5px -5px;
}
.adv-block4::before {
  background-position: -5px -64px;
}

.banner-blog p,
.banner-blog h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.banner-blog {
  padding-top: 25px;
  padding-bottom: 81px;
  background: url("../img/blog-bg1.png") 13% 40% no-repeat;
}
.banner-blog h3 {
  margin-right: 200px;
}
.banner-blog a {
  color: #323232;
}
.banner-blog p {
  padding-bottom: 8px;
}
.banner-mail {
  position: relative;
  width: 510px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f8f7f4;
  background-clip: padding-box;
  border-radius: 10px;
  border: 5px solid transparent;
  color: #5a5a5a;
}
.banner-mail::after {
    position: absolute;
    top: -5px; bottom: -5px;
    left: -5px; right: -5px;
    background-image: repeating-linear-gradient(-45deg,
    #fe9e90,
    #fe9e90 10px,
    #ffffff 10px,
    #ffffff 20px,
    #92cdff 20px,
    #92cdff 30px,
    #ffffff 30px,
    #ffffff 40px);
    content: '';
    z-index: -1;
    border-radius: 10px;
}
.banner-mail p {
  margin-top: 0;
  margin-bottom: 34px;
}
#email-field {
  box-sizing: border-box;
  position: relative;
  width: 368px;
  margin-right: 8px;
  padding: 12px 15px;
  line-height: 1.5em;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
  font-weight: 400;
  color: #999999;
}
.email-label {
  display: none;
  position: absolute;
  top: 110px;
  left: 35px;
  line-height: 1.13em;
  font-size: 11px;
  color: #8fbdec;
}
#email-field:hover {
  border: 1px solid #c7c6c5;
  box-shadow: 0px 0px 0px 1px #c7c6c5 inset;
}
#email-field:focus {
  border: 1px solid #8fbdec;
  box-shadow: 0px 0px 0px 1px #8fbdec inset;
}

#email-field:focus.email-label {
  display: block;
}
.btn-mail-subscribe {
  width: 130px;
  padding: 12px 20px 14px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 30px;
  border: none;
}
.map {
  height: 428px;
}
.map .container {
  position: relative;
}
.contacts {
  outline: 1px solid black;
  position: absolute;
  top: 63px;
  right: 27px;
  float: right;
  width: 250px;
  margin-bottom: 60px;
  padding: 25px;
  background: #fdfefe;
  border-radius: 13px;
}
.contacts-lightfont,
.contacts-boldfont {
  display: inline-block;
}
.contacts-lightfont {
  line-height: 1.42em;
  font-size: 14px;
  font-weight: 400;
}
.contacts-lightfont:first-child {
  margin-bottom: 5px;
}
.contacts-lightfont:nth-child(2){
  margin-bottom: 10px;
}
.contacts-lightfont:last-child{
  margin-bottom: 30px;
}
.contacts-boldfont {
  line-height: 1.33em;
  font-size: 18px;
  font-weight: 700;
}
.contacts-boldfont:first-child {
  margin-bottom: 20px;
}
.contacts-boldfont:last-child {
  margin-bottom: 5px;
}
.btn-feedback {
  display: block;
  margin: 0 auto;
  padding: 12px 25px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
}
.main-footer {
  outline: 1px solid black;
}
.footer-content {
  float: left;
}
.footer-content:not(:nth-child(3n)){
  margin-right: 25px;
}
.footer-social {
  outline: 1px solid black;
  width: 267px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.social-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  border: 4px solid #c2cec7;
  border-radius: 30px;
  opacity: 0.8;
}
.social-btn:hover.social-btn::before {
  opacity: 1;
}
.social-btn:active.social-btn::before {
  box-shadow: 0 0 0 1px #888888 inset;
}
.social-btn-tw:before {
  left: 20px;
  width: 33px;
  height: 32px;
  background-position: -167px -118px;
}
.social-btn-inst:before {
  left: 53px;
  width: 32px;
  height: 32px;
  background-position: -186px -76px;
}
.social-btn-fb:before {
  left: 85px;
  width: 32px;
  height: 32px;
  background-position: -125px -94px;
}
.social-btn-vk:before {
  left: 117px;
  width: 32px;
  height: 32px;
  background-position: -30px -130px;
}
.social-btn:not(:last-child){
  margin-right: 14px;
}
.footer-info {
  outline: 1px solid black;
  width: 560px;
  padding-bottom: 23px;
  padding-top: 25px;
}
.footer-info-ul {
  margin: 0;
  padding-right: 123px;
  padding-left: 105px;
  list-style: none;
  font-size: 0;
}
.footer-info-li {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  font-size: 13px;
  color: #ffffff;
}
.hit-description-a,
.footer-info-ul-li-a {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.footer-info-ul-li-a {
  font-weight: 700;
}
.hit-description-a {
  font-weight: 500;
}
.hit-description-a span,
.footer-info-ul-li-a span {
  border-bottom: 1px solid #9db1a5;
}
.hit-description-a:hover,
.footer-info-ul-li-a:hover,
.hit-description-a:active,
.footer-info-ul-li-a:active {
  color: #ffbc9e;
}
.hit-description-a:hover.hit-description-a>span,
.footer-info-ul-li-a:hover.footer-info-ul-li-a>span,
.hit-description-a:active.hit-description-a>span,
.footer-info-ul-li-a:active.footer-info-ul-li-a>span {
  border-bottom: 1px solid #ffbc9e;
}
.footer-info-active {
  position: relative;
  margin-right: -4px;
  font-weight: 700;
  border-bottom: 1px solid #9db1a5;
}
.footer-info-active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translate(-50%, -50%);
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 13px;
  background-position: -5px -136px;
}
.footer-copyright {
  outline: 1px solid black;
  width: 190px;
  padding-top: 20px;
  padding-bottom:20px;
  padding-left: 77px;
}
.footer-copyright p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5em;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}
.breadcrumbs {
  float: left;
  width: 290px;
  margin-bottom: 5px;
}
.item-title {
  margin-bottom: 25px;
}
.filters {
  margin-bottom: 35px;
}
.goods {
  font-size: 0;
}
.good-item {
  display: inline-block;
  width: 267px;
  margin-right: 25px;
  margin-bottom: 25px;
  vertical-align: top;
  text-align: center;
  font-size: 14px;
}
.good-item:nth-child(4n) {
  margin-right: 0;
}
.good-price {
  text-align: left;
}
.good-description {
  text-align: center;
}
.pagination {
  outline: 1px solid black;
  float: right;
  width: 190px;
  margin-bottom: 30px;
}
